body{
  background-color: #3D5A6C;
}
#mapdiv{
  margin-top: 20px;
}

.marker {
  background-image: url("https://i.imgur.com/MK4NUzI.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 767.98px){
  #mapdiv{
    margin-top: 0px;
  }

  .marker{
    width:20px;
    height:20px;
  }
}
